{% extends "global.html" %}
{% block title %}FingerTech Event Manager{% endblock %}
{% block main %}
    <div class='row'>
        <div class='span12'>
            <h2>Event Details</h2>
            <p>Stuff about event</p>
        </div>
    </div>
    <div class='row'>
        <div class='span2'></div>
        <div class='span4'>
            <h2>Bots</h2>
        </div>
        <div class='span4'>
            <h2>Sessions</h2>
        </div>
        <div class='span2'></div>
    </div>
    <div class='row'>
        <div class='span2'></div>
        <div class='span4'>
            <h2>Brackets</h2>
        </div>
        <div class='span4'>
            <h2>Schedule</h2>
        </div>
        <div class='span2'></div>
    </div>
{% endblock %}