{% extends "global.html" %}
{% block title %}FingerTech Event Manager{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/event.css" />
{% endblock %}
{% block eventnav %}
    <li class='active'>
{% endblock %}
{% block main %}
    <div class='row'>
        <div class='span12'>
            <h1>{{ event.name }}</h1>
            <p>
                <em>{{ event.location }}</em><br/>
                <em>{{ event.start_date}}</em> to <em>{{ event.end_date }}</em>
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='span6'>
            <h3>Bots</h3>
            <p>
                {{ bots_registered }}/{{ bots_total }} registered
            </p>
            <a href='/{{ event.id }}/bots/'>Manage Bots</a>
        </div>
        <div class='span6'>
            <h3>Sessions</h3>
        </div>
    </div>
    <div class='row'>
        <div class='span6'>
            <h3>Brackets</h3>
        </div>
        <div class='span6'>
            <h3>Schedule</h3>
        </div>
    </div>
{% endblock %}