{% import 'macros/forms.html' as forms %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
  		<link rel="stylesheet" href="/static/css/reset.css" />
  		<link rel="stylesheet" href="/static/css/bracket.css" />
  		<link rel="stylesheet" href="/static/css/jquery-ui.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/bots.css" />
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/jquery.gritter.css" />
		<!--[if !IE 7]><style type="text/css"> #wrap {display:table;height:100%} </style><![endif]-->
  		<script src="/static/js/jquery-1.9.1.js"></script>
  		<script src="/static/js/jquery-ui.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/jquery.gritter.js"></script>
		<script src="/static/js/EM.Notification.js"></script>

        {% block head %}{% endblock %}
	</head>
	<body>
        <div id='wrap'>
            <div class="navbar navbar-static-top">
              <div class="navbar-inner">
                <a class="brand" href="/">FingerTech Event Manager</a>
                <ul class="nav">
                    {% block nav %}
                        {% block eventnav %}<li>{% endblock %}<a href='{{ uri_for("event", event_id=event.id) }}'>{{ event.name }}</a><li>
                        {% block botsnav %}<li>{% endblock %}<a href='{{ uri_for("bots", event_id=event.id) }}'>Bots</a><li>
                        {% if brackets %}
                            {% block bracketsnav1 %}<li class='dropdown'>{% endblock %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Brackets
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href='{{ uri_for("brackets", event_id=event.id) }}'>All</a></li>
                                    {% for item in brackets %}
                                        <li><a href='{{ uri_for("single-bracket", event_id=event.id, bracket_id=item.id) }}'>{{ item.weightclass_code }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            {% block bracketsnav2 %}<li>{% endblock %}<a href='{{ uri_for("brackets", event_id=event.id) }}'>Brackets</a></li>
                        {% endif %}
                        {% block sessionsnav %}<li>{% endblock %}<a href='{{ uri_for("sessions", event_id=event.id) }}'>Sessions</a></li>
                        {% block schedulenav %}<li>{% endblock %}<a href='{{ uri_for("schedule", event_id=event.id) }}'>Schedule</a></li>
                        <li><a href='/'>Exit Event</a></li>
                    {% endblock %}
                </ul>
              </div>
            </div>
            <div class='container'>
            {% block main %}{% endblock %}
            </div>
            <?php getFooter($page); ?>
        </div>
	</body>
</html>
