#input-bots-form input {
    padding-top: 5px;
}

#bots_paginate {
	display: none;
}

img.botpicsmall {
	width: 150px;
}

img.botpiclarge {
	max-width: 400px;
}

table#bot-table td {
    vertical-align: middle;
}

table#bot-table td.delete {
    text-align: center;
}

table#bot-table thead {
    background-color: #F9F9F9;
}

#add-bot-btn {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

#import-bots-form input[type="file"] {
    padding-top: 5px;
}

.icon-edit {
    color: lawngreen;
}

.icon-remove-sign {
    color: red;
}