/*
	FingerTech Event Manager
	style.css
*/

/* Begin Sticky Footer */
html, body {height: 100%;}

.center { margin-left: auto; margin-right: auto; }

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 65px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -65px; /* negative value of footer height */
	height: 45px;
	clear:both;} 

.relative {
    position: relative;
}

.pointer:hover {
    cursor: pointer;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/* End Sticky Footer */

input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

h2#bracket-title {
	text-align: center;
	width: 100%;
}

a {
	text-decoration: none;
	color: #0000FF;
}

a:hover {
	text-decoration: underline;
	color: #0000BB;
}

h1,h2,h3 {
	padding: 10px 0px;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.1em;
}

div#dialog-form, div.dialog-form {
	display: none;
}

div#header {
	text-align: center;
}

div#footer {
	text-align: center;
	clear: both;
}

table#bracket-list {
	width: 100%;
	border-collapse: collapse;
}

table#bracket-list th {
	text-align: left;
	font-weight: bold;
	padding: 3px;
}

table#bracket-list td {
	padding: 3px;
}

table#event-details {
	width: 100%;
	margin-bottom: 10px;
}

table#event-details td {
	padding: 3px;
	font-size: 1.3em;
	text-align: center;	
	font-weight: bold;
	font-style: italic;
}

table#event-details td#event-name  {
	font-size: 1.8em;
	font-style: normal;
}

#dialog-form select, .dialog-form select {
	margin-bottom: 12px;
	padding: .4em;
	width: 95%;
}

/* BlockUI */
div.blockMsg {
	display: none;
}


/* Generic Form Properties */

form span.error {
    display: block;
}

table.form {
	width: 100%;
}

table.form td.label {
	text-align: right;
}

table.form select {
	width: 100%;
}

table.form td.submit {
	text-align: center;
}

/* Form Validation */

label.error {
	display: none !important; 
}

input.error {
	background-color:#F00;	
}

select {
	background-color: #FFF;
}

select.error {
	background-color: #F00;
}

#countdown-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

#countdown-content {
	display: table-cell;
	vertical-align: middle;
}

#countdown-table {
	width: 100%;
	text-align: center;
	font-size: 60px;
	font-weight: 50;	
}

#countdown-table input {
    font-size: 20px;
}

#countdown {
	text-indent: -.12em;
	font: 220px "Courier", sans-serif;
	font-weight: 900;
	display: inline-block;
	margin: 0 auto;
	line-height: 1;
	width: 100%;
}

#botRed, #botBlue {
    line-height: 1;
}

#botBlue a {
	padding-left: 10%;
	text-align: left;
	color: blue;
	display: block;
}

#botRed a {
	padding-right: 10%;
	text-align: right;	
	color: red;
	display: block;
}

#botBlue a:hover {
	color: teal;
	text-decoration: none;
}

#botRed a:hover {
	color: maroon;
	text-decoration: none;
}

#botRed a:focus, #botBlue a:focus {
	text-decoration: none;
	outline: 0;
}

.icon-remove-sign {
    font-size: 16px;
    color: red;
}

.icon-ok-sign {
    font-size: 16px;
    color: green;
}

.admin-edit-table input[type="text"] {
    margin-bottom: 0px;
}

input[type="text"] {
    height: 28px !important;
    line-height: 28px !important;
}